<%= form_tag('/', {:method => :post, :class =>'form'}) do |f| %>
  <% if @keyword.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@keyword.errors.count, 'error') %> prohibited this keyword from being saved:</h2>

      <ul>
      <% @keyword.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= label_tag 'keyword_value', 'Your query', :class => 'control-label' %><br>
    <!--
    <select id="language" name="language" class="" style="width:173px;">
      <option value="">Language</option>
      <option value="Bulgarian">Bulgarian</option>
      <option value="Catalan">Catalan</option>
      <option value="Czech">Czech</option>
      <option value="Danish">Danish</option>
      <option value="Dutch">Dutch</option>
      <option value="English/Australia">English/Australia</option>
      <option value="English/Canada">English/Canada</option>
      <option value="English/Malaysia">English/Malaysia</option>
      <option value="English/New Zealand">English/New Zealand</option>
      <option value="English/Singapore">English/Singapore</option>
      <option value="English/South Africa">English/South Africa</option>
      <option value="English/UK">English/UK</option>
      <option value="English/USA" selected="selected">English/USA</option>
      <option value="Finnish">Finnish</option>
      <option value="French">French</option>
      <option value="German">German</option>
      <option value="German/Austria">German/Austria</option>
      <option value="German/Switzerland">German/Switzerland</option>
      <option value="Greek">Greek</option>
      <option value="Hebrew">Hebrew</option>
      <option value="Hungarian">Hungarian</option>
      <option value="Indonesian">Indonesian</option>
      <option value="Italian">Italian</option>
      <option value="Lithuanian">Lithuanian</option>
      <option value="Norwegian">Norwegian</option>
      <option value="Polish">Polish</option>
      <option value="Portuguese/Brasil">Portuguese/Brasil</option>
      <option value="Portuguese/Portugal">Portuguese/Portugal</option>
      <option value="Romanian">Romanian</option>
      <option value="Russian">Russian</option>
      <option value="Serbian">Serbian</option>
      <option value="Slovak">Slovak</option>
      <option value="Slovenian">Slovenian</option>
      <option value="Spanish">Spanish</option>
      <option value="Spanish/Argentina">Spanish/Argentina</option>
      <option value="Spanish/Chile">Spanish/Chile</option>
      <option value="Spanish/Colombia">Spanish/Colombia</option>
      <option value="Spanish/Mexico">Spanish/Mexico</option>
      <option value="Spanish/Peru">Spanish/Peru</option>
      <option value="Swedish">Swedish</option>
      <option value="Turkish">Turkish</option>
      <option value="日本語">日本語</option>
    </select>
    -->
    <%= text_field_tag 'keyword[value]', @keyword.try(:value) || '', :class => 'form-control' %>
    <span class="help-block">Enter the keyword to lookup suggestions for.</span>
  </div>

  <%= submit_tag 'Get keywords', :class=> 'btn btn-default btn-primary' %>

<% end %>
